<!-- Modal -->
<div
  #modal
  [id]="ref"
  class="modal fade"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="profilModal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-light">
        <h5 class="modal-title display-6 m-auto" id="modalLabel">
          {{ titre }}
        </h5>
        <button
          type="button"
          class="btn-close mx-0 px-0"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div
        class="modal-body"
        *ngIf="titre != 'SUPPRIMER'; else modalBodyDelete"
      >
        <form [formGroup]="clientForm">
          <div class="row my-3">
            <div class="col input-group">
              <span class="input-group-text">{{ CLIENT.NOM }} *</span>
              <input
                type="text"
                class="form-control"
                [formControlName]="CLIENT.NOM"
                [name]="CLIENT.NOM"
                [id]="CLIENT.NOM"
                [attr.aria-label]="CLIENT.NOM"
                [class.is-invalid]="clientService.error(CLIENT.NOM)"
              />
              <span
                class="invalid-tooltip top-0 end-0 opacity-hidden"
                data-bs-toggle="tooltip"
                title="champ obligatoire"
              >
              </span>
            </div>
            <div class="col input-group">
              <span class="input-group-text">{{ CLIENT.PRENOM }} *</span>
              <input
                type="text"
                class="form-control"
                [formControlName]="CLIENT.PRENOM"
                [name]="CLIENT.PRENOM"
                [id]="CLIENT.PRENOM"
                [attr.aria-label]="CLIENT.PRENOM"
                [class.is-invalid]="clientService.error(CLIENT.PRENOM)"
              />
              <span
                class="invalid-tooltip top-0 end-0 opacity-hidden"
                data-bs-toggle="tooltip"
                title="champ obligatoire"
              >
              </span>
            </div>
          </div>
          <div class="row my-3">
            <div class="offset-3 w-50 input-group">
              <span class="input-group-text">{{ CLIENT.TEL }}</span>
              <input
                type="text"
                class="form-control"
                [formControlName]="CLIENT.TEL"
                [name]="CLIENT.TEL"
                [id]="CLIENT.TEL"
                [attr.aria-label]="CLIENT.TEL"
                [class.is-invalid]="clientService.error(CLIENT.TEL)"
              />
              <span
                class="invalid-tooltip top-0 end-0 opacity-hidden"
                data-bs-toggle="tooltip"
                title="chiffre uniquement"
              >
              </span>
            </div>
          </div>
          <div class="row my-3">
            <div class="col input-group">
              <span class="input-group-text">{{ CLIENT.ADRESSE }} *</span>
              <input
                type="text"
                class="form-control"
                [formControlName]="CLIENT.ADRESSE"
                [name]="CLIENT.ADRESSE"
                [id]="CLIENT.ADRESSE"
                [attr.aria-label]="CLIENT.ADRESSE"
                [class.is-invalid]="clientService.error(CLIENT.ADRESSE)"
              />
              <span
                class="invalid-tooltip top-0 end-0 opacity-hidden"
                data-bs-toggle="tooltip"
                title="champ obligatoire"
              >
              </span>
            </div>
          </div>
          <div class="row my-3 d-flex justify-content-around">
            <div class="col input-group">
              <span class="input-group-text">{{ CLIENT.CODE_POSTAL }} *</span>
              <input
                type="text"
                class="form-control"
                [formControlName]="CLIENT.CODE_POSTAL"
                [name]="CLIENT.CODE_POSTAL"
                [id]="CLIENT.CODE_POSTAL"
                [attr.aria-label]="CLIENT.CODE_POSTAL"
                [class.is-invalid]="clientService.error(CLIENT.CODE_POSTAL)"
              />
              <span
                class="invalid-tooltip top-0 end-0 opacity-hidden"
                *ngIf="clientForm.get([CLIENT.CODE_POSTAL])?.errors?.['required'];else pattern"
                data-bs-toggle="tooltip"
                title="champ obligatoire"
              >
              </span>
              <ng-template #pattern>
                <span
                  class="invalid-tooltip top-0 end-0 opacity-hidden"
                  data-bs-toggle="tooltip"
                  title="chiffre uniquement"
                >
                </span>
              </ng-template>
            </div>
            <div class="col input-group">
              <span class="input-group-text">{{ CLIENT.VILLE }} *</span>

              <input
                type="text"
                class="form-control position-relative"
                [formControlName]="CLIENT.VILLE"
                [name]="CLIENT.VILLE"
                [id]="CLIENT.VILLE"
                [attr.aria-label]="CLIENT.VILLE"
                [class.is-invalid]="clientService.error(CLIENT.VILLE)"
              />
              <span
                class="invalid-tooltip top-0 end-0 opacity-hidden"
                data-bs-toggle="tooltip"
                title="champ obligatoire"
              >
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p>* champ obligatoire</p>
            </div>
          </div>
        </form>
      </div>
      <div
        class="modal-footer d-flex justify-content-center"
        *ngIf="titre != 'SUPPRIMER'; else modalFooterDelete"
      >
        <button
          type="submit"
          class="btn btn-success me-5"
          [disabled]="!clientForm.valid"
          (click)="saveClient()"
        >
          Sauvegarder
        </button>
        <button
          #close
          type="button"
          class="btn btn-danger ms-5"
          data-bs-dismiss="modal"
        >
          Annuler
        </button>
      </div>
    </div>
  </div>
</div>
<ng-template #modalBodyDelete>
  <div class="row">
    <div class="col">
      <div class="alert alert-danger d-flex align-items-center" role="alert">
      <i class="bi bi-exclamation-triangle-fill"></i>

        <div class="m-auto">
          <p>
            Confirmer la suppression du client N°
            {{ clientForm.get([CLIENT.ID])?.value }}
          </p>
          <p>
            Nom :
            <span class="fw-bold ms-2">{{
              clientForm.get([CLIENT.NOM])?.value | uppercase
            }}</span>
          </p>
          <p>
            Prenom :
            <span class="fw-bold ms-2">{{
              clientForm.get([CLIENT.PRENOM])?.value | uppercase
            }}</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #modalFooterDelete>
  <div class="modal-footer d-flex justify-content-center">
    <button
      type="submit"
      class="btn btn-success me-5"
      [disabled]="!clientForm.valid"
      (click)="saveClient()"
    >
      Confirmer
    </button>
    <button
      #close
      type="button"
      class="btn btn-danger ms-5"
      data-bs-dismiss="modal"
    >
      Annuler
    </button>
  </div>
</ng-template>
