<a routerLink="/menu" class="h5">
  <button class="btn btn-sm btn-outline-primary m-3 p-2">
    <i class="bi bi-backspace"></i> Retour
  </button>
  </a>
  <h1 class="text-center">Gestion des ventes de véhicules</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-3 offset-md-2 mt-5">
        <a routerLink="/devis/creation" class="h5"><button style="width:350px; height:150px;">Créer un devis</button></a>
      </div>
      <div class="col-md-3 offset-md-2 mt-5">
        <a routerLink="/devis" class="h5"><button style="width:350px; height:150px;">Liste des devis</button></a>
      </div>
    </div>
  </div>
