<h1 class="text-center">MENU</h1>
<div class="container">
  <div class="button-group d-flex justify-content-between mt-5 mb-5">
    <button class="w-25 p-5"><a routerLink="/urlVersLaNouvellePage">Gestion des clients</a></button>
    <button class="w-25 p-5"><a routerLink="/">Gestion des stocks</a></button>
    <button class="w-25 p-5"><a routerLink="/">Gestion des fiches d'entretien</a></button>
  </div>
  <div class="button-group d-flex justify-content-between">
    <button class="w-25 p-5"><a routerLink="/">Gestion des ventes de véhicules</a></button>
    <button class="w-25 p-5"><a routerLink="/">Gestion des tâches</a></button>
    <button class="w-25 p-5"><a routerLink="/">Gestion des utilisateurs</a></button>
  </div>
</div>
