<nav class="navbar navbar-expand-sm navbar-dark bg-primary">

  <img src="../../assets/images/logo-placeholder.png" class="d-inline-block align-top" id="image" alt="">

    <div class="collapse navbar-collapse"></div>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link">
            NOM ENTREPRISE
          </a>
        </li>
      </ul>
    </div>
    <a href="#">
      <i class="bi-person-circle"></i>
    </a>
</nav>
