<a routerLink="/menu" class="h5">
  <button class="btn btn-sm btn-outline-primary m-3 p-2">
    <i class="bi bi-backspace"></i> Retour
  </button>
</a>
<h1 class="text-center">Gestion des fiches d'entretien</h1>
<div class="container">
  <div class="row">
    <div class="col-md-3 offset-md-2 mt-5">
      <a routerLink="/entretien/creation" class="h5"><button class="btn-box">Créer une fiche entretien</button></a>
    </div>
    <div class="col-md-3 offset-md-2 mt-5">
      <a routerLink="/entretien/liste" class="h5"><button class="btn-box">Liste fiches d'entretien</button></a>
    </div>
  </div>
</div>
