<h1 class="text-center mt-3">MENU</h1>
<div class="container">
  <div class="row">
    <div class="col mt-5 mb-5">
      <a routerLink="/clients" class="h5"><button style="width:350px; height:150px;">Gestion des clients</button></a>
    </div>
    <!-- <div class="col mt-5 mb-5">
      <a routerLink="/" class="h5"><button style="width:350px; height:150px;">Gestion des stocks</button></a>
    </div> -->
    <!-- <div class="col mt-5 mb-5">
      <a routerLink="/" class="h5"><button style="width:350px; height:150px;">Gestion des fiches d'entretien</button></a>
    </div> -->
    <div class="col mt-5">
      <a routerLink="/vehicules" class="h5"><button style="width:350px; height:150px;">Gestion des ventes de véhicules</button></a>
    </div>
    <!-- <div class="col mt-5">
      <a routerLink="/" class="h5"><button style="width:350px; height:150px;">Gestion des tâches</button></a>
    </div> -->
    <div class="col mt-5">
      <a routerLink="/utilisateurs" class="h5"><button style="width:350px; height:150px;">Gestion des utilisateurs</button></a>
    </div>
  </div>
</div>
