table {
  overflow: hidden;
  height: 55vh;
}
.scrollbar {
  position: relative;
  height: max-content;
  width: 100%;
  overflow-y: scroll;
  display: block;
}
tr {
  width: 100%;
  display: table;
  table-layout: fixed;
  position: relative;
}
